:root {
    --orange-light: #ffd63d;
    --orange-dark: #dea46e;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: ghostwhite;
}

#header {
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    width: 100%;
    background-color: var(--orange-light);
    color: #d25414;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(170, 170, 170, 0.5);
}

#main-div {
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-item-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--orange-light);
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(170, 170, 170, 0.5);
}

button {
    border-style: none;
    background-color: var(--orange-dark);
    color: whitesmoke;
    padding: 0 12px;
    font-size: 16px;
    font-weight: bolder;
    height: 40px;
}

button:hover, #new-important-label:hover {
    background-color: #d49a6a;
}

input[type=text] {
    border-style: none;
    width: 65%;
    height: 40px;
    padding: 10px 30px;
    font-size: 18px;
}

#new-important-label {
    margin: 0 5px;
    padding: 2px 5px 5px 0;
    display: inline-block;
    width: 105px;
    background-color: var(--orange-dark);
    color: whitesmoke;
    font-weight: bolder;
}

input[type=checkbox] {
    margin: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border: 2px var(--orange-light) solid;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(170, 170, 170, 0.5);
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}

tr > td:nth-child(2) {
    width: 100%;
}

tr:hover {
    background-color: var(--orange-light);
    text-decoration: underline;
    cursor: pointer;
    transform: translate(-2px, 0);
    transition: 0.5s;
}

td {
    padding: 10px;
}

.important {
    font-weight: bolder;
}

.completed {
    text-decoration: line-through;
}